---
permalink: "{{ locale_directory }}/index.html"
---

{% extends "layouts/base.njk" %}

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}

{% block content %}

<div class="vertical-wrapper lang-wrapper">
{% for link in page.url | locale_links %}
{%- if not loop.first %},{% endif %}
<a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
{% endfor %}
</div>

<div class="hero-wrapper">

<div class="hero">

  <div class="hero-box">
	<h1>Coucou, je suis <span class="about-name">Mathieu</span></h1>
	<p>Je fais du design pour le logiciel libre et les communs numériques.</p>
	<p>Je bois du café pour me tenir <span class=highlight>chaud</span>.</p>
  </div>
  {# <div class="hero-box"> #}
  <div>
		<img src="../img/coffee.svg">
  </div>

</div>

</div>

{#
<nav class="ui-filters">
  <ul>
	<li class=pill>all</li>
	<li class=pill>app</li>
	<li class=pill>social</li>
	<li class=pill>gnome</li>
	<li class=pill>web</li>
  </ul>
</nav>
#}

<div class="vertical-wrapper">

<!--
-->

<div class="vertical-layout">

	<h2>Travaux récents</h2>

	<section class="topic-web topic-social color-pink">

		<div class="content">

		<h3>Funkwhale</h3>
		{# 2021-2023 #}

        <p>Funkwhale est une plate-forme pour l'audio, qui comble l'écart entre avoir un lecteur pour la bibliothèque stockée sur son ordinateur, et utiliser des services de diffusion en ligne. En empruntant aux deux mondes, elle vous permet d'héberger votre musique en ligne et d'y accèder depuis n'importe où, tout en gardant le contrôle dessus. Elle permet aussi aux artites et créateur⋅ices de podcasts de publier leurs créations, et encourage aussi le partage de contenu sous licence libre.</p>

        <p>Je participe au projet Funkwhale en tant que designer, et suis membre du comité de direction. Récemment, j'ai notamment travail sur une <a href="https://forum.funkwhale.audio/d/214-whats-wrong-with-libraries-and-a-path-to-fix-them">refonte des fondations de la gestion de bibliothèque</a>, et constituer un "Design System". Jetez-donc un œil aux composants d'interface implémentés par <a href="https://wvffle.net/">wvffle</a>!</p>

		<div class="actions">
		<a class="button-primary" href="https://ui.funkwhale.audio/">Voir le Design System</a>
		<a class="button-link" href="https://www.funkwhale.audio/">Découvrir Funkwhale</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>social</li>
			<li class=tag>multimedia</li>
		 </ul>
		</div>

		</div>

		<img src="../img/funkwhale_dark.png"
			 alt="Cette maquette pour l'interface de Funkwhale présent un nouveau profil public d'utilisateur⋅ice, un nouveau thème sombre, un panneau de navigationsur la gauche, et un lecteur audio en bas. Le profil est rempli avec photos et nom de la chanteuse punk Amy Taylor, tandis que le lecteur diffuse "fixing my brain" par l'artiste Brad Sucks."
			 title="Beaucoup d'améliorations sont en préparation pour les prochaines fournées de Funkwhale (maquette)">

	</section>


	<section class="topic-web topic-social color-violet">

		<div class="content">

		<h3>Mastodon</h3>
		{# 2020-2023 #}

        <p>Parmi les « réseaux sociaux », il y a beaucoup de plate-formes de micro-blogging. Mastodon est l'une d'entre elles, et probablement jusqu'ici la tentative la plus réussi de construire un réseau social en-dehors des géants de la tech.</p>
        <p>L'interface web embarque une vue optionnelle en plusieurs colonnes, appellée « interface avancée ». Bien qu'utile pour suivre plusieurs hashtags en parallèle, elle présente malheureusement quelques problèmes. On a exposé le problème sur github, et fait une proposition pour rendre l'expérience bien plus fluide.</p>

		<div class="actions">
			<a class="button-primary" href="https://github.com/mastodon/mastodon/issues/13774">Voir notre proposition</a>
			<a class="button-link" href="https://joinmastodon.org/">Rejoindre Mastodon</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>social</li>
			<li class=tag>micro-blogging</li>
		 </ul>
		</div>

		</div>

		<img src="../img/mastodon.png"
			 alt="La maquette montre comme contenu de vrais commentaires à propos des changements proposés." 
			 title="Maquette basse fidélité des interactions hautement simplifiées qu'on propose pour la vue en plusieurs colonnes." />

	</section>

	<section class="topic-app color-teal">

		<div class="content">

		<h3>Joplin</h3>
		{# 2023 #}

        <p>Avec sa prise en charge de la syntaxe markdown et sa capacité à embarquer du contenu multimedia, Joplin est un éditeur de notes puissant. Proposant en plus de trier ses notes dans des arborescences de dossiers ou via des étiquettes, cette application permet d'organiser ses pensées de manière efficace. Elle tourne sur plusieurs plate-formes (en s'appuyant sur React Native pour iOS et Android, ou bien sur Electron pour les environnements de bureau), fonctionne parfaitement sans connexion (« local first »), chiffre vos notes et les synchronise entre vos différents équipements.</p>

        <p>Vient-on de trouver l'application de prise de notes qui satisfait toutes nos attentes !? Pas exactement, étant donné les quelques problèmes d'utilisabilité qui risquent de décourager les nouvelles utilisateur⋅ices d'adopter Joplin.</p>

		<div class="actions">
			<a class="button-primary" href="https://discourse.joplinapp.org/t/desktop-ui-review/32685">Voir le cas d'étude</a>
			<a class="button-link" href="joplinapp.org/">Obtenir Joplin</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivité</li>
		 </ul>
		</div>

		</div>

		<img src="../img/joplin.png"
			 alt="Maquette de Joplin. L'interface de bureau est divisée en 3 parties, les deux premières étant dédiée à l'organisation des notes, et la dernière à leur lecture ou modification."
			 title="Nous avons fait un prototype interactif pour montrer comment de petits changements pouvaient significativement améliorer l'expérience de Joplin" />

	</section>

	<section class="topic-app topic-web color-green">

		<div class="content">

		<h3>Open Street Map</h3>
		{# 2021 #}

		<p>Le projet de cartographie mondial est parfois décrit comme « une alternative à Google Maps ». C'est malheureux, car ça forge les attentes des personnes qui visitent openstreetmap.org, en s'attendant à trouver le nec-plus-ultra pour calculer leur initinéraires. Frustrées, elles abandonnent en restant sur une mauvaise impression.</p>

        <p>Et pourtant, il est possible de fournir une expérience satisfaisante pour répondre aux besoins de base en matière de calcul d'itinéraire, tout en préservant la force de ce qui a est en fait été conçu comme un outil pour les personnes modifiant la carte.</p>

		<div class="actions">
			<a class="button-primary" href="https://github.com/openstreetmap/openstreetmap-website/issues/3123">Voir notre formulaire</a>
			<a class="button-link" href="https://openstreetmap.org/">Parcourir la carte</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>cartographie</li>
		 </ul>
		</div>

		</div>

		<img src="../img/openstreetmap.png"
			 alt="Illustrations des différentes vue d'écran structurant les interactions de notre prototype. Le formulaire qu'on propose a des champs d'entrée améliorées, avec des suggesstions au fur-et-à-mesure qu'on tappe, du contraste entre les informations principale (comme le nom des villes) des informations secondaires (comme la régiou ou le pays). Il y a aussi un menu de type dropdown pour choisir le moteur de routage utilisé pour le calcul d'itinéraire, et des boutons avec des icônes pour sélectionner le mode de déplacement (à pied, à vélo, en voiture)."
			 title="Maquette en fil de fer pour améliorer les interactions avec le formulaire de calcul d'itinéraire" />

	</section>

</div> <!-- end vertical-layout -->

</div> <!-- end vertical-wrapper -->

<!--
-->

<div class="horizontal-wrapper">

    <h2>Travaux plus anciens</h2>

<div class="horizontal-layout">

	<section class="topic-app topic-gnome color-yellow">

		<div class="content">
		<h3>Paperwork</h3>
		{# 2014 #}

		<img src='../img/paperwork_dark.png'
			 alt='la fenêtre présente une liste de documents dans un panneau à gauche, et montre le document sélectionné sur la vue principale à droite'
			 title="Capture d'écran d'une version récente de Paperwork, en mode sombre" />

		<p>"<i>Scan and forget</i>". Avec un slogan aussi évocateur, il fallait absolument que j'essaie Paperwork. Comme ça je verrai s'il pouvait m'aider à m'en sortir avec toute la paperasse sous laquelle je croule.</p>

		<p>Les choses n'étaient pas aussi simples que je l'espéraires, donc j'ai fait une revue détaillée de ce qui n'allait pas, et proposé des solutions. Tout cela fut très bien reçu par l'auteur de Paperwork, qui a donné vie à nos propositions en les implémentant.</p>

		<div class="actions">
		<a class="button-primary" href="https://gitlab.gnome.org/World/OpenPaperwork/paperwork/-/issues/356">Lire notre étude</a>
		<a class="button-link" href="https://www.openpaper.work/fr/">Obtenir Paperwork</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivité</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="topic-app topic-gnome color-orange">

		<div class="content">
		<h3>Diffuse</h3>
		{# 2021 #}

		<img src="../img/diffuse.png"
			 alt="Maquette montrant trois paneaux de largeur identique, avec un fichier ouvert dans le premier panneau, tandis que les deux autres panneaux sont vides."
			 title="Diffuse permet la comparaison de plusieurs versions d'un fichier" />

		<p>Vous avez affaire à plusieurs versions d'un fichier et galérez à trouver les différences ? Diffuse est là pour vous aider.</p>

		<p>Le mainteneur du projet souhaitait que son application soit incluse dans « GNOME Circle ». Cela nécessitait que l'UI soit conforme aux critères d'inclusion. J'aurai passé quelques jours pour réaliser les maquettes et fil d'interactions pour cette refonte complète de l'interface.</p>

		<div class="actions">
		<a class="button-primary" href="https://github.com/MightyCreak/diffuse/issues/90">Voir les designs</a>
		<a class="button-link" href="http://mightycreak.github.io/diffuse/">Obtenir Diffuse</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivité</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="topic-app topic-gnome color-pink">

		<div class="content">
		<h3>Lutris</h3>
		{# 2020 #}

		<img src='../img/lutris.png'
			 alt='L\'application Lutris montrant la page des détails du jeu « Night in the woods »'
			 title="Maquette pour rendre Lutris plus convivial" />

		<p>Ce lanceur de jeu nous faisait passer à travers toute une série d'obstacles avant de pouvoir démarrer notre premier jeu. On a raconté comment ce sont passés nos premiers pas avec Lutris, et fourni des maquettes pour un embarquement plus sympa. Une partie de nos proposition a été implémentée dans <a href="https://github.com/lutris/lutris/releases/tag/0.5.8">Lutris 0.5.8</a>.</p>

		<div class="actions">
		<a class="button-primary" href="https://github.com/lutris/lutris/issues/2880">Lire notre revue</a>
		<a class="button-link" href="https://lutris.net/">Obtenir Lutris</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>gaming</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="topic-app topic-gnome color-violet">

		<div class="content">
		<h3>Tilix</h3>
		{# 2018 #}

		<p>Tilix était une super application de terminal, dont le développement s'est arrêté après que le mainteneur décida de se retirer du projet. C'est dommage, on avait de super plans pour elle !</p>

		<div class="actions">
		<a class="button-primary" href="https://github.com/gnunn1/tilix/issues/1541">Voir nos ébauches</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivité</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="grow-2 topic-web color-blue">

		<div class="content">
		<h3>LinuxFr.org</h3>
		{# 2018 #}
		
		<p>LinuxFr.org est un site d'actualité francophone à propos du mouvement du logiciel libre, et des logiciels liés à Linux. Les actualités sont écrites par la communauté depuis un espace de rédaction collaborative, et sont publiées après validation de l'équipe de modération. Le site gère aussi commentaires, billets de blogs, forums, parmi d'autres fonctionnalités.</p>

        <p>Malgré un nombre croissant de visites, l'activité de contribution au site était en déclin. Nous avons lancé une étude pour comprendre pourquoi, analysé les réponses de 285 participations, et dégagé des priorités pour le site. Nous avons proposé une nouvelle catégorisation pour organiser le contenu, une nouvelle interface optimisée à la fois pour les ordinateurs de bureau et les équipements mobiles, et plus encore.</p>

		<div class="actions">
		<a class="button-primary" href="https://linuxfr.org/news/refaire-linuxfr-org-resultats-de-l-enquete">Lire notre rapport</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>actualités</li>
			<li class=tag>web</li>
		 </ul>
		</div>

		</div>

		<img src="../img/linuxfr_mobile.png"
			 alt="L'image montre une barre de navigation allégée au sommet de l'écran, ainsi qu'une liste des dernières actualités."
			 title="Maquette pour une interface adaptative pour LinuxFr, dans sa version mobile" />

	</section>

</div> <!-- end horizontal-layout -->

</div> <!-- end horizontal-wrapper -->

{% endblock %}
