@use "sass:map";

/* colors and themes * /

/* color palette */
$blue-950: #0A1528;
$blue-900: #1D283A;
$blue-800: #123344;
$blue-400: #7DC9D4;
$blue-300: #A5C2F0;
$blue-200: #D2E0F6;
$blue-100: #FDFDFF;

$gold-livid: #EBCE97;
$gold-light: #AB853F;
$gold-dark: #A17532;
$brown-light: #221A0D;
$brown-dark: #0F0E0B;

$black: #000000;
$white: #FFFFFF;

$pastel-beige: #F1EDE6;
$pastel-pink: #ECA2BA;
$pastel-violet: #CCAAFF;
$pastel-blue: #A7CDFB;
$pastel-teal: #9DDDE5;
$pastel-green: #82C8BB;
$pastel-yellow: #F3E389;
$pastel-orange: #EAAD80;

$gray: hsl(215, 25%, 27%);
$base-color: $pastel-beige;
$contrast-color: $brown-dark;

/* dark theme */
$dark-theme: (
  "hero-bg": $gold-livid,
  "hero-text": $black,
  "hero-name": $black,
  "hero-name-highlight": $pastel-pink,
  "body-bg": $brown-light,
  "body-text": $white,
  "body-link": $gold-livid,
  "body-heading3": $black,
  "body-heading2": $pastel-beige,
  "button-primary-bg": $pastel-beige,
  "button-primary-bg-hover": rgba($pastel-beige, 0.90),
  "button-primary-text": $black,
  "button-link-text": $pastel-beige,
  "tag-text": $black,
  "tag-background": rgba($gold-livid, 1.00),
);

.color-pink {
  $base-color: $pastel-pink;
  h3 {
    background-color: $base-color;
  }
  .button-link {
    color: $base-color;
  }
}
.color-violet {
  $base-color: $pastel-violet;
  h3 {
    background-color: $base-color;
  }
  .button-link {
    color: $base-color;
  }
}
.color-blue {
  $base-color: $pastel-blue;
  h3 {
    background-color: $base-color;
  }
  .button-link {
    color: $base-color;
  }
}
.color-teal {
  $base-color: $pastel-teal;
  h3 {
    background-color: $base-color;
  }
  .button-link {
    color: $base-color;
  }
}
.color-green {
  $base-color: $pastel-green;
  h3 {
    background-color: $base-color;
  }
  .button-link {
    color: $base-color;
  }
}
.color-yellow {
  $base-color: $pastel-yellow;
  h3 {
    background-color: $base-color;
  }
  .button-link {
    color: $base-color;
  }
}
.color-orange {
  $base-color: $pastel-orange;
  h3 {
    background-color: $base-color;
  }
  .button-link {
    color: $base-color;
  }
}

/* components - nav, buttons and tags */

nav {
  ul {
    display: flex;
    justify-content: center;
    column-gap: 0.5em;
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    font-family: system-ui;
    font-size: 1.0rem;
    padding: 0.8rem 1rem 0.9rem 1rem;
    border: .1rem solid #000000;
    background: map.get($dark-theme, "tag-background") padding-box;
    border-radius: 1rem;
  }
}

.actions {
  display: flex;
  justify-content: left;
  column-gap: 0.5em;

  .button-primary {
    display: inline-block;
    font-family: system-ui;
    font-size: 1.0rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6rem 1.3rem 0.7rem 1.3rem;
    color: map.get($dark-theme, "button-primary-bg");
    border-color: map.get($dark-theme, "button-primary-bg");
    border-radius: 1rem;
    border-style: solid;
  }
  .button-primary:hover {
    color: map.get($dark-theme, "button-primary-bg-hover");
    border-color: map.get($dark-theme, "button-primary-bg-hover");
  }
  .button-primary::after{
    margin-left: 1rem;
    content: "\2192";
    font-size: 1.25rem;
  }
  .button-link {
    display: block;
    padding: 0.8rem 1rem 0.7rem 1rem;
  }
}

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;

  ul {
    padding: 0;
  }

  .tag {
    display: inline-block;
    font-family: system-ui;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0.4rem 1rem 0.5rem 1rem;
    color: map.get($dark-theme, "tag-text");
    background: map.get($dark-theme, "tag-background")  padding-box;
    border-radius: 2rem;
  }
}

body {
  min-height: 100vh;
  background: map.get($dark-theme, "body-bg");
  color: map.get($dark-theme, "body-text");
  font-size: 1.1rem;
  line-height: 1.75rem;
  justify-content: center;
  margin: auto;

  h2 {
    color: map.get($dark-theme, "body-heading2");
    width: auto;
    margin: 24px 0 0 0;
    padding: 0 16px 0 16px;
  }

  h3 {
    color: map.get($dark-theme, "body-heading3");
    background-color: $base-color;
    width: fit-content;
    margin: 0 0 0 -32px;
    padding: 4px 24px 4px 32px;
    clip-path: polygon(0% 30%,90% 0%,100% 70%,10% 100%);
  }

  a {
    color: map.get($dark-theme, "body-link");
  }

  .highlight {
    color: map.get($dark-theme, "hero-name");
    font-weight: bold;
    display: inline;
    margin: 0 -0.2em;
    padding: 0 0.2em;
    box-shadow: inset 0 -0.6em 0 map.get($dark-theme, "hero-name-highlight");
  }
}

/* LAYOUT */

/* common definitions */
.hero-wrapper {
    background: map.get($dark-theme, "hero-bg");
	width: 100%;
    margin-top: -60px;
}
@media screen and (min-width: 1200px) {
  .vertical-wrapper {
    width: 1200px;
    margin: auto;
  }
  .horizontal-wrapper {
    width: 1200px;
    margin: auto;
  }
}
@media screen and (min-width: 1800px) {
  .vertical-wrapper {
    width: 1800px;
    margin: auto;
  }
  .horizontal-wrapper {
    width: 1800px;
    margin: auto;
  }
}

.lang-wrapper {
  a {
    color: map.get($dark-theme, "button-primary-text");
    display: flex;
    justify-content: right;
    margin-right: 16px;
    padding-top: 16px;
  }
}

section {
  .content {
    box-sizing: border-box;
    width: 100%;
    margin: 16px 0px 16px 0px;
    padding: 24px 16px 24px 16px;
  }
  img {
    box-sizing: border-box;
    display: block;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.hero {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .hero-box {
    color: map.get($dark-theme, "hero-text");
    font-size: 1.5rem;
    width: auto;
    box-sizing: border-box;
    padding: 16px 48px 16px 16px;
  }
  h1 {
    font-size: 2.0rem;
  }
  .about-name {
    color: map.get($dark-theme, "hero-name");
    font-size: 2.3rem;
  }
  img {
    margin: 0;
    padding: 0;
    display: block;
    max-height: 100%;
    max-width: 680px;
    width: 100%;
    height: auto;
  }
}

.vertical-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 24px 0 0 0;

  h2 {
    justify-content: left;
  }
  > * {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-wrap: wrap;
  }
  img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0 16px 0 16px;
  }
  @media screen and (min-width: 800px) {
    .content {
      width: 70%;
      padding: 0 16px 0 16px;
    }
    img {
      max-width: 640px;
      width: 30%;
    }
  }
}


.horizontal-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;

  h2 {
    justify-content: left;
  }
  > * {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 800px) {
    > * {
      width: 50%;
    }
  }
  @media screen and (min-width: 1200px) {
    > * {
      width: 33.33%;
    }
  }
  .content {
    width: 100%;
    padding: 0 16px 0 16px;
    img {
      max-width: 100%;
      max-height: 300px;
      margin: 1em auto;
      padding: 0;
    }
  }
  section:last-of-type {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    .content {
      width: 70%;
    }
    img {
      object-fit: contain;
      height: 480px;
      width: 30%;
      padding: 0 16px 0 0;
      margin: auto
    }
  }
}

footer {
  text-align: center
}
