---
permalink: "{{ locale_directory }}/index.html"
---

{% extends "layouts/base.njk" %}

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}

{% block content %}

<div class="vertical-wrapper lang-wrapper">
{% for link in page.url | locale_links %}
{%- if not loop.first %},{% endif %}
<a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
{% endfor %}
</div>

<div class="hero-wrapper">

<div class="hero">

  <div class="hero-box">
	<h1>Hi, I'm <span class="about-name">Mathieu</span></h1>
	<p>I do design for free software and digital commons.</p>
	<p>I drink coffee to keep me <span class=highlight>warm</span>.</p>
  </div>
  {# <div class="hero-box"> #}
  <div>
		<img src="../img/coffee.svg">
  </div>

</div>

</div>

{#
<nav class="ui-filters">
  <ul>
	<li class=pill>all</li>
	<li class=pill>app</li>
	<li class=pill>social</li>
	<li class=pill>gnome</li>
	<li class=pill>web</li>
  </ul>
</nav>
#}

<div class="vertical-wrapper">

<!--
-->

<div class="vertical-layout">

	<h2>Recent submissions</h2>

	<section class="topic-web topic-social color-pink">

		<div class="content">

		<h3>Funkwhale</h3>
		{# 2021-2023 #}

		<p>Funkwhale is an audio platform that bridges the gap between having a local library player, and online streaming services. It takes from both worlds, so that you can listen to your music online and stay in control. It also allows artists and podcasters to publish their creations, and encourages the share of free licensed content.</p>

		<p>I participate to the Funkwhale project as a UI designer, and as a member of the steering group. Lately, we've been most notably <a href="https://forum.funkwhale.audio/d/214-whats-wrong-with-libraries-and-a-path-to-fix-them">rethinking the foundations of library management</a>, and putting together a Design System. Check out the UI components implemented by <a href="https://wvffle.net/">wvffle</a>!</p> 

		<div class="actions">
		<a class="button-primary" href="https://ui.funkwhale.audio/">View the UI library</a>
		<a class="button-link" href="https://www.funkwhale.audio/">Discover Funkwhale</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>social</li>
			<li class=tag>multimedia</li>
		 </ul>
		</div>

		</div>

		<img src="../img/funkwhale_dark.png"
			 alt="Mockup features a new public user profile, a new dark theme, the navigation pane on the left, and the player at the bottom. The profile is filled with photos and name of the punk singer Amy Taylor, and the player is currently playing "fixing my brain" by the artist Brad Sucks."
			 title="A lot of enhancements are in the oven for upcoming releases of Funkwhale (mockup)">

	</section>


	<section class="topic-web topic-social color-violet">

		<div class="content">

		<h3>Mastodon</h3>
		{# 2020-2023 #}

		<p>Amongst social media, there are many micro-blogging platforms. Mastodon is one of them, and probably the most succesful attempt so far of building a social netork out of big tech corporations.</p>

		<p>The web UI sports an optional multi-column view, called "advanced interface". While useful to keep track of several hashtags in parallel, it comes with some very unfortunate flaws. We illustrated the case on github, and made a proposal for a much smoother experience.</p>

		<div class="actions">
			<a class="button-primary" href="https://github.com/mastodon/mastodon/issues/13774">See our proposal</a>
			<a class="button-link" href="https://joinmastodon.org/">Join Mastodon</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>social</li>
			<li class=tag>micro-blogging</li>
		 </ul>
		</div>

		</div>

		<img src="../img/mastodon.png"
			 alt="Mockup of what could become the multi-column view in mastodon. App content features real comments about the designs." 
			 title="Low-fidelity mockup of the much simplified interactions we propose for the multi-column view" />

	</section>

	<section class="topic-app color-teal">

		<div class="content">

		<h3>Joplin</h3>
		{# 2023 #}

		<p>With its markdown editor, its capacity to embed multimedia content, its support for both hierarchical folders and tags arrange in familiar layout, Joplin is a note-taking app to effectively organize your thoughts. It runs on several platforms (React Native for iOS and Android, Electron for Desktops), works local first, encrypts your notes and syncs them across your devices.</p>

		<p>Have we just found the one note-taking app that fullfils all our expectations!? Not exactly, as some usability issues may discourage newcomers to stick with Joplin.</p>

		<div class="actions">
			<a class="button-primary" href="https://discourse.joplinapp.org/t/desktop-ui-review/32685">See our case</a>
			<a class="button-link" href="joplinapp.org/">Get Joplin</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivity</li>
		 </ul>
		</div>

		</div>

		<img src="../img/joplin.png"
			 alt="Mockup of Joplin. The windows is divided into three parts: the first column shows where notes are organized (using folders or tags), the second column shows the content of the item selected in the first colum. Finally, the main part of the window shows a text editor."
			 title="We made an interactive prototype to show how small changes could drastically enhance the experience with Joplin" />

	</section>

	<section class="topic-app topic-web color-green">

		<div class="content">

		<h3>Open Street Map</h3>
		{# 2021 #}

		<p>The worldwide cartography project is sometimes depicted as an "alternative to Google Maps". This is unfortunate, as it results in people visiting openstreetmap.org while expecting to find a top-notch tool to calculate their itineraries. Then they experience frustration and leave (or stay) with a bad impression.</p>

		<p>Yet it is possible to provide visitors with a pleasant experience for fullfilling their basic routing needs, whilst keeping the strength of what is actually intended as a tool for the community folks editing the map.</p>

		<div class="actions">
			<a class="button-primary" href="https://github.com/openstreetmap/openstreetmap-website/issues/3123">See our search forms</a>
			<a class="button-link" href="https://openstreetmap.org/">Explore the map</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>cartography</li>
		 </ul>
		</div>

		</div>

		<img src="../img/openstreetmap.png"
			 alt="Screenshot of the wireframes we made to build an interactive prototype to test our proposal. Our new form has enhanced input fields, with as-you-type suggestions and contrast to distinguish primary information (like city) from secondary one (like region and country). The form also sports a dropdown to select the routing engine used for direction calculation, and icon buttons to select transportation methods (like pedestrian, bike or car)."
			 title="Wireframes for enhanced interactions with the directions forms" />

	</section>

</div> <!-- end vertical-layout -->

</div> <!-- end vertical-wrapper -->

<!--
-->

<div class="horizontal-wrapper">

    <h2>Older work</h2>

<div class="horizontal-layout">

	<section class="topic-app topic-gnome color-yellow">

		<div class="content">
		<h3>Paperwork</h3>
		{# 2014 #}

		<img src='../img/paperwork_dark.png'
			 alt='The app features a list of documents in a left pane, and shows the selected document in the main view'
			 title="Screenshot of a recent version of Paperwork, in dark mode" />

		<p>"<i>Scan and forget</i>". With such an appealing slogan, I absolutely had to try Paperwork, and see how it could help me deal with the many papers I receive by mail, and I struggle sorting.</p>

		<p>Things were not as simple as I hoped, so I did an in-depth review and suggested improvements. All that was very well received by Paperwork's author, who did bring life to our mockups.</p>

		<div class="actions">
		<a class="button-primary" href="https://gitlab.gnome.org/World/OpenPaperwork/paperwork/-/issues/356">Read our study</a>
		<a class="button-link" href="https://www.openpaper.work/fr/">Get Paperwork</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivity</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="topic-app topic-gnome color-orange">

		<div class="content">
		<h3>Diffuse</h3>
		{# 2021 #}

		<img src="../img/diffuse.png"
			 alt="Mockup showing three panes of equal width, with a file being open in the first pane, and the two other panes showing their empty state."
			 title="Diffuse allows to compare 2 or more versions of a file" />

		<p>Dealing with multiple versions of a file and struggling to tell the differences? Diffuse is here to ease your pain.</p>

		<p>The project maintainer wanted their app to get included into GNOME Circle. This required updating the UI to comply with Circle's inclusion criteria. It took me a few days to provide mockups and wireframes for this complete UI overhaul.</p>

		<div class="actions">
		<a class="button-primary" href="https://github.com/MightyCreak/diffuse/issues/90">View our designs</a>
		<a class="button-link" href="http://mightycreak.github.io/diffuse/">Get Diffuse</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivity</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="topic-app topic-gnome color-pink">

		<div class="content">
		<h3>Lutris</h3>
		{# 2020 #}

		<img src='../img/lutris.png'
			 alt='The Lutris app showing details of the game "Night in the woods"'
			 title="Mockup for a more convivial experience in Lutris" />

		<p>This highly praised game launcher requires to go through many obstacles before running your first game. We shared the story of our first steps with Lutris, and provided designs for an enhanced onboarding. Some of our propositions were implemented as part of <a href="https://github.com/lutris/lutris/releases/tag/0.5.8">Lutris 0.5.8</a>.</p>

		<div class="actions">
		<a class="button-primary" href="https://github.com/lutris/lutris/issues/2880">See our onboarding review</a>
		<a class="button-link" href="https://lutris.net/">Get Lutris</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>gaming</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="topic-app topic-gnome color-violet">

		<div class="content">
		<h3>Tilix</h3>
		{# 2018 #}

		<p>Tilix was a great terminal app, whose developpment ceased after its maintainer stepped down from this project. Too bad, we had great plans for it!</p>

		<div class="actions">
		<a class="button-primary" href="https://github.com/gnunn1/tilix/issues/1541">See our concepts</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>productivity</li>
			<li class=tag>gnome</li>
		 </ul>
		</div>
		</div>

	</section>

	<section class="grow-2 topic-web color-blue">

		<div class="content">
		<h3>LinuxFr.org</h3>
		{# 2018 #}
		
		<p>LinuxFr.org spreads news about free software movement and Linux related software to the french-speaking community. News are written by the community with the site collaborative editor, and published after moderation approval. The site also sports comments, blogs, and forums, among other features.</p>

		<p>Despite an increasing number of visits, the contribution activity of the site was declining. We ran a study and understand why, analyzed the answers of our 285 participants, and identified priorities for the site. We proposed a new categorisation to organize content, a new interface that suits both desktop and mobile devices, and more.</p>

		<div class="actions">
		<a class="button-primary" href="https://linuxfr.org/news/refaire-linuxfr-org-resultats-de-l-enquete">Read our report</a>
		</div>

		<div class="tag-list">
		  <ul>
			<li class=tag>news</li>
			<li class=tag>web</li>
		 </ul>
		</div>

		</div>

		<img src="../img/linuxfr_mobile.png"
			 alt="This mockup for mobile features un uncluttered navigation bar on the top, and a list of the latest news"
			 title="Low-fidelity mockup for an adaptive interface for LinuxFr" />

	</section>

</div> <!-- end horizontal-layout -->

</div> <!-- end horizontal-wrapper -->

{% endblock %}
